// base color
$blue: #409eff;

// sidebar
$sideBarWidth: 210px;
$hideSidebarWidth: 65px;
$menuText: #ccd5df;
$menuBg: #304156;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuBg: $menuBg;
  menuText: $menuText;
}
