// base color
$blue: #409eff;
$red: #f56c6c;
$gray-4: #d8dce5;
$gray-7: #5a5e66;

// sidebar
$sideBarWidth: 210px;
$hideSidebarWidth: 65px;
$menuText: #ccd5df;
$menuBg: #304156;

// navbar
$navbarHeight: 50px;

//tagsView
$tagsViewHeight: 40px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuBg: $menuBg;
  menuText: $menuText;
}
